@model AspNet_Core.Models.Department
@{
    ViewBag.Title = "Department Details";
}

<div class="row justify-content-center" m-3>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="card-body text-center">
                <h4>Department ID : @Model.ID</h4>
                <h4>Name : @Model.ID</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Department" asp-action="index" class="btn btn-primary m-1">Back</a>
                <a asp-action="edit" asp-controller="Department" asp-route-id="@Model.ID"
                   class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-primary m-1">Delete</a>
            </div>
        </div>
    </div>
</div>


